body {
    height: 400px;
    width: 600px;
    background-color: lavender;
    display: table;
}

#logo {
    width: 95%;
    margin: auto;
    padding: 0% 45% 0%;
    border: 1px coral;
}

#location {
    width: 95%;
    margin: auto;
    padding: 0% 0% 0%;
    border: 1px coral;
}

#map {
    width: 95%;
    margin: auto;
    padding: 0 5% 0;
}